<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Book Page</title>
</head>
<body>
    
    <%- include ('./components/navbar.ejs') %>

    <div id="main_content_zone">
        <h1>Add New Book</h1>
        <form method="post">
            <label for="isbn"> ISBN: </label>
            <input type ="text" id="isbn" name="isbn"></input>
            <label for="title"> Title: </label>
            <input type ="text" id="title" name="title"></input>
            <label for="year"> Year: </label>
            <input type ="text" id="year" name="year"></input>
            <label for="author_id"> Author ID: </label>
            <input type ="text" id="author_id" name="author_id"></input>
            <label for="genre_id"> Genre ID: </label>
            <input type ="text" id="genre_id" name="genre_id"></input>
            <input type = "submit">
        </form>
    </div>

</body>
</html>