<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
    <title>Admin Author Page</title>
</head>
<body>
    
    <%- include ('./components/navbar.ejs') %>

    <div id="main_content_zone">
        <table>
            <tr>
                <th>Author ID</th>
                <th>Name</th>
            </tr>
            <%
                var authorTable=``; 
                authors.forEach(author => {
                    authorTable += `<tr> <td> ${author.author_id} </td> <td> ${author.author_name} </td>  </tr>`
                });
            %>
            <%- authorTable %>
        </table>
    </div>

</body>
</html>